Beaker==1.8.1
beautifulsoup4==4.5.1
decorator==4.0.10
FormEncode==1.3.1
funcsigs==1.0.2
Mako==1.0.6
MarkupSafe==0.23
mongoengine==0.11.0
nose==1.3.7
Paste==2.0.3
PasteDeploy==1.5.2
PasteScript==2.0.2
Pygments==2.1.3
Pylons==1.0.2
pymongo==3.4.0
repoze.lru==0.6
requests==2.12.3
Routes==2.3.1
simplejson==3.10.0
six==1.10.0
Tempita==0.5.2
waitress==1.0.1
WebError==0.13.1
WebHelpers==1.3
WebOb==1.6.3
WebTest==2.0.23
yolk==0.4.3
