<html>
<head>


<title>Docker Monitoring System</title>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript">
    function fetch_details()
    {
        host_ip = $("#host_id").val()
        
        if(host_ip == ""){
            window.alert("Enter Some IP address");
            return
        }
        params = {'host_ip': host_ip};
        $.ajax({
            url: "/docker_controller/get_host_details", 
            data:params,
            success: function(result){
                        window.alert("Ajax Success");
                    }
        });
        //write re for checking valid IP
    }
</script>
</head>


<body style="background-color:azure">
    <div id="first-div" style="text-align:center">
        <img src="https://www.docker.com/sites/default/files/moby.svg" alt="Docker" style="height:200px;">
        <h1 style="color:#0e2479">DocSnap - Docker Monitoring System</h1>
    </div>
    <div style="margin:45px 0px 0px 80px">
        <label for="host_id" style="font-size:19px">Enter Docker Instance IP Address</label>
        <div class="input-group input-group-lg" style="width:500px">
            <input id="host_id" type="text" class="form-control" placeholder="127.0.0.1" aria-describedby="sizing-addon1">
        </div>
        <button onclick="fetch_details()" class="btn btn-default" id="details" type="button" style="margin-top:13px;width:125px;height:45px;font-weight:bold;font-size:17px">Get Details</button>
    </div>
</body>
</html>



